<style media="screen">
	.Purchase_Sell_Stock{
		display: inline-block;
	}
</style>

<h1>Index Page</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |msg| %>
  <ul>
    <li><%= msg %></li>
  </ul>
  <%end%>
<%end%>

<form action="/transaction/search" method="get">
  Ticker: <input type="text" name="ticker" value="">
  <input type="submit" value="submit">
</form>

<a href="/logout">Logout</a>
<a href="/account">Account</a>

<br>
<br>

<div class="AccountSnapshot">
<p>Cash Balance: $<%= @user.checking_account %></p>
<p>Stocks: <%= @stockbalance %></p>



<p>Cash+Stocks: $ <%= @stockbalance.to_f + @user.checking_account.to_f %></p>
</div>

<br>
<br>
<hr>

<% @ticker_follows.each do |ticker| %>
<% @stock = HTTParty.get("http://marketdata.websol.barchart.com/getQuote.json?key=c259a86b4ec1a63d89b1dcc5173c24c1&symbols=#{ticker.ticker_symbol}") %>
<% @stock['results'].each do |result| %>
<p><%=result["name"] %></p>
<a href="/transaction/unfollow/<%=ticker.id %> " data-method='POST'>Unfollow</a>
<a href="/transaction/purchase/<%= ticker.ticker_symbol %>">Purchase Stock</a>
<a href="/transaction/sell/<%=ticker.ticker_symbol %>">Sell Stock</a>
<table>
	<tr>
		<thead>
			<th>Last Price</th>
			<th>Open</th>
			<th>High</th>
			<th>Low</th>
			<th>Volume</th>
		</thead>
	</tr>

	<tr>
		<td><%=result["lastPrice"]%></td>
		<td><%=result["open"]%></td>
		<td><%=result["high"]%></td>
		<td><%=result["low"]%></td>
		<td><%=result["volume"]%></td>
	</tr>
	<% end %>
</table>
<% end %>

<hr>

<% if @stockpurchase %>
<div class="Purchase_Sell_Stock">
	<h3>Purchase Stock</h3>
	<form class="transaction" action="/transaction/confirmation/buy" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
		<p>Stock: <input type="text" name="ticker" value="<%=@stockpurchase['results'][0]['symbol'] %>"></p>
		<% @price =  @stockpurchase['results'][0]['lastPrice'] %>
		<p>Price: <input type="text" name="price" class="price" value="<%=@price %>"></p>
		<p>Quantity: <input type="text" name="quantity" class="quantity" value=""></p>
		<p>Cost: $<span class='result'></span></p>
		<input type="submit" name="" value="Buy">
	</form>
</div>
<% end %>



<% if @stocksell %>
<div class="Purchase_Sell_Stock">
	<h3>Sell Stock</h3>
	<form class="transaction" action="/transaction/confirmation/sell" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
		<p>Stock: <input type="text" name="ticker" value="<%= @stocksell['results'][0]['symbol'] %>"></p>
		<% @price =  @stocksell['results'][0]['lastPrice'] %>
		<p>Price: <input type="text" name="price" class="price" value="<%= @price %>"></p>
		<p>Quantity: <input type="text" name="quantity" class="quantity" value=""></p>
		<p>Proceeds: $<span class='result'></span></p>
		<input type="submit" name="" value="Sell">

	</form>
</div>
<% end %>

<div class="Portfolio">

</div>


<script type="text/javascript">
$(document).ready(function(){
	$('.quantity').keyup(function(){
		$('.result').text($('.price').val() * $('.quantity').val());
	});
});
</script>
