<style media="screen">
	.Purchase_Sell_Stock{
		display: inline-block;
	}

	.AccountSnapshot, .Portfolio{
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
	}
	.Watchlist{
		display: :inline-block;
	}
	}


</style>

<h1>Capital Gains</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |msg| %>
  <ul>
    <li><%= msg %></li>
  </ul>
  <%end%>
<%end%>

<form action="/transaction/search" method="get">
  Ticker: <input type="text" name="ticker" value="">
  <input type="submit" value="submit">
</form>

<a href="/logout">Logout</a>
<a href="/account">Account</a>

<hr>

<div class="AccountSnapshot">
<h2>Account Snapshot</h2>
<p><strong>Cash Balance:</strong> $<%= @user.checking_account %></p>
<p><strong>Stocks:</strong> $ <%= @portfolio_owned[1].to_f - @portfolio_sold[1].to_f %></p>
<p><strong>Cash+Stocks:</strong> $ <%= @user.checking_account + @portfolio_owned[1].to_f - @portfolio_sold[1].to_f %> </p>
</div>

<div class="Portfolio">
	<h2>Portfolio</h2>
	<table class="table table-striped">
		<tr>
			<thead>
				<th>Stock</th>
				<th>Shares Owned</th>
				<th>Current Price</th>
				<th>Value</th>
				<th>Action</th>
			</thead>
		</tr>

		<% @shares_owned.each do |stock| %>
		<tr>
			<td><%= stock[0] %></td>
			
			<% if @shares_sold[stock[0]].nil? %>
			<% @shares_sold[stock[0]] = 0 %>
			<% elsif stock[1].nil? %>
			<% stock[1] = 0 %>
			<% end %>

			<td><%= @shares = stock[1] - @shares_sold[stock[0]] %></td>
			<td>$ <%=  @price[stock[0]] %></td>
			<td>$ <%=  @price[stock[0]] * @shares %></td>
			<td><a href="/transaction/sell/<%=stock[0] %>">Sell Stock</a></td>
		</tr>

		<% end %>
	</table>
</div>


<br>
<br>
<hr>



<div class="Watchlist">
<h2>Watchlist</h2>
<% @ticker_follows.each do |ticker| %>
<% @stock = HTTParty.get("http://marketdata.websol.barchart.com/getQuote.json?key=c259a86b4ec1a63d89b1dcc5173c24c1&symbols=#{ticker.ticker_symbol}") %>
<% @stock['results'].each do |result| %>
<h4><%=result["name"] %></h4>

<table class="table table-striped">
	<tr>
		<thead>
			<th>Last Price</th>
			<th>Open</th>
			<th>High</th>
			<th>Low</th>
			<th>Volume</th>
			<th>Action</th>
		</thead>
	</tr>

	<tr>
		<td>$<%=result["lastPrice"]%></td>
		<td>$<%=result["open"]%></td>
		<td>$<%=result["high"]%></td>
		<td>$<%=result["low"]%></td>
		<td><%=result["volume"]%></td>
		<td><a href="/transaction/unfollow/<%=ticker.id %> " data-method='POST'>Unfollow</a>
		<a href="/transaction/purchase/<%= ticker.ticker_symbol %>">Purchase Stock</a></td>
	</tr>
	<% end %>
</table>
<% end %>
</div>

<hr>

<% if @stockpurchase %>
<div class="Purchase_Sell_Stock">
	<h3>Purchase Stock</h3>
	<form class="transaction" action="/transaction/confirmation/buy" method="post">

		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">

		<p>Stock: <input type="text" name="ticker" value="<%=@stockpurchase['results'][0]['symbol'] %>"></p>
		<% @price =  @stockpurchase['results'][0]['lastPrice'] %>

		<p>Price: <input type="text" name="price" class="price" value="<%=@price %>"></p>

		<p>Quantity: <input type="text" name="quantity" class="quantity" value=""></p>

		<p>Cost: $<span class='result'></span></p>
		<input type="submit" name="" value="Buy">

	</form>
</div>
<% end %>



<% if @stocksell %>
<div class="Purchase_Sell_Stock">
	<h3>Sell Stock</h3>
	<form class="transaction" action="/transaction/confirmation/sell" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
		<p>Stock: <input type="text" name="ticker" value="<%= @stocksell['results'][0]['symbol'] %>"></p>
		<% @price =  @stocksell['results'][0]['lastPrice'] %>
		<p>Price: <input type="text" name="price" class="price" value="<%= @price %>"></p>
		<p>Quantity: <input type="text" name="quantity" class="quantity" value=""></p>
		<p>Proceeds: $<span class='result'></span></p>
		<input type="submit" name="" value="Sell">

	</form>
</div>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
	$('.quantity').keyup(function(){
		$('.result').text($('.price').val() * $('.quantity').val());
	});
});
</script>
