<style>
	.topBanner{
		border-bottom: 2px solid black;
		background-color: #040e13
	}

	#title, #ticker{
		color: white;
	}

	#title{
		padding-top: 20px;
		font-size: 70px;
	}

	.Purchase_Sell_Stock{
		display: inline-block;
	}

	.userFunction{
		display: inline-block;
		float:right;
	}

	.userLinks{
		font-size: 20px;
		margin-right: 10px;
	}

	.Snapshots{
		display: inline-block;
	}

	.AccountSnapshot, .Portfolio{
		display: list-item;
		vertical-align: top;
	}

	.stock_charts{
		display: inline-block
	}

	.Watchlist{
		display: :inline-block;
		background-color: #8cb8d8
	}

	.center{
		text-align: center;
		margin-top: 0px;
		padding-top: 30px;
	}

	.accountHighlights{
		background-color: #c8cac7;
		display: inline-block;
		vertical-align: top;
	}

	.components{
		background-color: white;
	}

	h1, input {
	  font-family: "Open Sans", Helvetica, sans-serif;
	}
</style>


<div class="topBanner">
	<h1 class='center' id= 'title'>WU-TANG FINANCIAL</h1>

	<div class="userFunction">
		<a href="/logout" class="userLinks">Logout</a>
		<a href="/account" class="userLinks">Account</a>
	</div>

	<div class="tickerSearch">
		<form action="/transaction/search" method="get">
			<p id="ticker">Ticker: <input style="color:black" type="text" name="ticker" value=""> <input style="color:black" type="submit" value="submit"></p>

		</form>
	</div>
</div>

<% if flash[:errors] %>
<% flash[:errors].each do |msg| %>
<ul>
	<li><%= msg %></li>
</ul>
<%end%>
<%end%>

<div class="Snapshots">
	<div class="AccountSnapshot">
		<h2>Account Snapshot</h2>
		<div class="components">
			<p><strong>Cash Balance:</strong> $<%= @user.checking_account %></p>
			<p><strong>Stocks:</strong> $ <%= @portfolio_owned[1].to_f - @portfolio_sold[1].to_f %></p>
			<p><strong>Cash+Stocks:</strong> $ <%= @user.checking_account + @portfolio_owned[1].to_f - @portfolio_sold[1].to_f %> </p>
		</div>
	</div>

	<div class="Portfolio">
		<h2>Current Portfolio</h2>
		<table class="table table-striped">
			<tr>
				<thead>
					<th>Stock</th>
					<th>Shares Owned</th>
					<th>Current Price</th>
					<th>Value</th>
					<th>Profit/Loss</th>
					<th>Action</th>
				</thead>
			</tr>


			<% @shares_owned.each do |stock| %>
			<tr>
				<td><%= stock[0] %></td>

				<% if @shares_sold[stock[0]].nil? %>
				<% @shares_sold[stock[0]] = 0 %>
				<% elsif stock[1].nil? %>
				<% stock[1] = 0 %>
				<% end %>

				<% if @shares_sold[stock[0]].nil? %>
				<% @shares_sold[stock[0]] = 0 %>
				<% elsif stock[1].nil? %>
				<% stock[1] = 0 %>
				<% end %>

			<td><%= @shares = stock[1] - @shares_sold[stock[0]] %></td>
			<td>$ <%=  @price[stock[0]] %></td>
			<td>$ <%=  @price[stock[0]] * @shares %></td>
			<td></td>
			<td>Placeholder</td>
			<td><a href="/transaction/sell/<%=stock[0] %>">Sell Stock</a></td>
		</tr>
		<% end %>
	</table>
</div>


<div class="accountHighlights">
	<div class="tradingViewWidget">
		<!-- TradingView Widget BEGIN -->
		<h2 class= 'center'> <%=@user.first_name %>'s Stock Performance</h2>
		<div id="tv-medium-widget-3e0dc"></div>
		<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
		<script type="text/javascript">
		new TradingView.MediumWidget({
			"container_id": "tv-medium-widget-3e0dc",
			"symbols": [

				<% @shares_owned.each do |stock| %>
				[
					"<%= stock[0] %>",
					"<%= stock[0] %>"
				],
				<% end %>

			],
			"gridLineColor": "rgba(233, 233, 234, 1)",
			"fontColor": "#83888D",
			"underLineColor": "#dbeffb",
			"trendLineColor": "#4bafe9",
			"width": "1000px",
			"height": "350px",
			"locale": "en"
		});
		</script>
		<!-- TradingView Widget END -->
	</div>



	<div class="stock_charts">
		<h2>Portfolio Allocation</h2>
		<div id="piechart" style="width: 400px; height: 275px;"></div>
	</div>


	<div class="stock_charts">
		<h2>Account Performance</h2>
		<div id="curve_chart" style="width: 700px; height: 400px"></div>
	</div>
</div>


<br>
<br>
<hr>





<div style="text-align:center" class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Watchlist</h3>
	</div>
	<div class="panel-body">



<% @ticker_follows.each do |ticker| %>
<% @stock = HTTParty.get("http://marketdata.websol.barchart.com/getQuote.json?key=c259a86b4ec1a63d89b1dcc5173c24c1&symbols=#{ticker.ticker_symbol}") %>
<% @stock['results'].each do |result| %>
<h4><%=result["name"] %></h4>

<div class="components">
	<table class="table table-striped">
		<tr>
			<thead>
				<th>Last Price</th>
				<th>Open</th>
				<th>High</th>
				<th>Low</th>
				<th>Volume</th>
				<th>Action</th>
			</thead>
		</tr>

		<tr>
			<td>$<%=result["lastPrice"]%></td>
			<td>$<%=result["open"]%></td>
			<td>$<%=result["high"]%></td>
			<td>$<%=result["low"]%></td>
			<td><%=result["volume"]%></td>
			<td><a href="/transaction/unfollow/<%=ticker.id %> " data-method='POST'>Unfollow</a>
				<a href="/transaction/purchase/<%= ticker.ticker_symbol %>">Purchase Stock</a></td>
			</tr>
			<% end %>
		</table>
		<% end %>
</div>
</div>

<hr>

<% if @stockpurchase %>
<div class="Purchase_Sell_Stock">
	<h3>Purchase Stock</h3>
	<form class="transaction" action="/transaction/confirmation/buy" method="post">

		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">

		<p>Stock: <input type="text" name="ticker" value="<%=@stockpurchase['results'][0]['symbol'] %>"></p>
		<% @price =  @stockpurchase['results'][0]['lastPrice'] %>

		<p>Price: <input type="text" name="price" class="price" value="<%=@price %>"></p>

		<p>Quantity: <input type="text" name="quantity" class="quantity" value=""></p>

		<p>Cost: $<span class='result'></span></p>
		<input type="submit" name="" value="Buy">

	</form>
</div>
<% end %>



<% if @stocksell %>
<div class="Purchase_Sell_Stock">
	<h3>Sell Stock</h3>
	<form class="transaction" action="/transaction/confirmation/sell" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
		<p>Stock: <input type="text" name="ticker" value="<%= @stocksell['results'][0]['symbol'] %>"></p>
		<% @price =  @stocksell['results'][0]['lastPrice'] %>
		<p>Price: <input type="text" name="price" class="price" value="<%= @price %>"></p>
		<p>Quantity: <input type="text" name="quantity" class="quantity" value=""></p>
		<p>Proceeds: $<span class='result'></span></p>
		<input type="submit" name="" value="Sell">

	</form>
</div>
<% end %>

</div>
</div>

<script type="text/javascript">
$(document).ready(function(){

	$('.quantity').keyup(function(){
		$('.result').text($('.price').val() * $('.quantity').val());
	});

	google.charts.load('current', {'packages':['corechart']});
       google.charts.setOnLoadCallback(drawAllocationChart);
			 google.charts.setOnLoadCallback(drawAccountPerformanceChart);

		function drawAllocationChart() {

			var data = google.visualization.arrayToDataTable([
				['Stock', 'Value'],
				<% @shares_owned.each do |stock| %>
					<% if @shares_sold[stock[0]].nil? %>
						<% @shares_sold[stock[0]] = 0 %>
					<% elsif stock[1].nil? %>
						<% stock[1] = 0 %>
					<% end %>
					<% @shares = stock[1] - @shares_sold[stock[0]] %>
           ['<%= stock[0] %>' ,<%=   @shares %>],
				<% end %>

         ]);
         var options = {
         };
         var chart = new google.visualization.PieChart(document.getElementById('piechart'));
         chart.draw(data, options);
       }

	 function drawAccountPerformanceChart() {
       var data = google.visualization.arrayToDataTable([
         ['Year', 'Cash', 'Stocks', 'Cash+Stocks'],
         ['2014',  1000, 400, 1400],
         ['2015',  1170, 460, 1630],
         ['2016',  660, 1120, 1780],
         ['2017',  <%= @user.checking_account %>, <%= @portfolio_owned[1].to_f - @portfolio_sold[1].to_f %>, <%= @user.checking_account + @portfolio_owned[1].to_f - @portfolio_sold[1].to_f %>]
       ]);

       var options = {
         title: 'Year Over Year',
         curveType: 'function',
         legend: { position: 'bottom' }
       };

       var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

       chart.draw(data, options);
     }
});
</script>
