<style>
.topBanner{
  border-bottom: 2px solid black;
  background-color: #040e13
}

#title{
  color: white;
}

h1, input {
  font-family: "Open Sans", Helvetica, sans-serif;
}

</style>



<div class="topBanner">
  <!-- TradingView Widget BEGIN -->
<div id="tv-medium-widget-208a5"></div>


<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.MediumWidget({
  "container_id": "tv-medium-widget-208a5",
  "symbols": [
    [
      "<%= @widget_symbol %>",
      "<%= @widget_symbol %>"

    ]
  ],
  "gridLineColor": "#e9e9ea",
  "fontColor": "#83888D",
  "underLineColor": "#dbeffb",
  "trendLineColor": "rgba(255, 0, 0, 1)",
  "width": "1000px",
  "height": "350px",
  "locale": "en"
});
</script>

<br>

<button class="btn btn-info" id="myBtn">Profitability Calculator</button>
<div id="profitCalculator" class="modal">
  <div id="model-dialog" class="modal-content" style="text-align:center">
    <span data-dismiss="modal" aria-hidden="true" class="close">&times;</span>
    <div class="model-header">
      <iframe  style="text-align:center" frameborder="30" scrolling="no" height="420" width="420" allowtransparency="true" marginwidth="0" marginheight="0" src="https://ssltools.forexprostools.com/profit-calculator/index.php?force_lang=1&acc=12&pair=1"></iframe>
    </div>
  </div>
</div>

<!-- API KEY: zKX13rAGJYBCMPSvKjEr -->

<script>
(function () {


var modal = document.getElementById('profitCalculator');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "table";
}
span.onclick = function() {
    modal.style.display = "none";
}
$(document).click(function(event) {
    if (event.target !== modal && event.target !== btn) {
        modal.style.display = "none";
    }
});

})();

</script>





<button class="btn pull-right btn-info" id="myBtnH">Historical Information</button>
<div id="historical_info" class="modal">
  <div id="model-dialog" class="modal-content" style="text-align:center">
    <span data-dismiss="modal" aria-hidden="true" class="close">&times;</span>
    <div class="model-header">
      <p>
      <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget({
        "width": 980,
        "height": 610,
        "symbol": "NASDAQ:AAPL",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "White",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "hideideas": true
      });
      </script>
      </p>
    </div>
  </div>
</div>


<script>
(function () {
var modal = document.getElementById('historical_info');
var btn = document.getElementById("myBtnH");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "table";
}
span.onclick = function() {
    modal.style.display = "none";
}
$(document).click(function(event) {
    if (event.target !== modal && event.target !== btn) {
        modal.style.display = "none";
    }
});
})();
</script>

<!-- TradingView Widget BEGIN -->
<!-- TradingView Widget END -->








<h1 id="title" style="text-align:center" ><%= @current_result['results'][0]['name'] %></h1>
</div>



<a href="/transaction/follow/<%= @current_result['results'][0]['symbol'] %>" class="btn btn-info btn-lg btn-block" data-method='POST'>Follow Stock</a>

<div class="results">
    <h2 style="text-align:center">Current Information</h2>
    <table class="table table-striped ">
      <tr class="warning">
        <thead>
          <th>Symbol</th>
          <th>Exchange</th>
          <th>Last Price</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Volume</th>
        </thead>
      </tr>
      <% @current_result['results'].each do |result| %>
      <tr class="active">
        <td><%=result["symbol"]%></td>
        <td><%=result["exchange"]%></td>
        <td><%=result["lastPrice"]%></td>
        <td><%=result["open"]%></td>
        <td><%=result["high"]%></td>
        <td><%=result["low"]%></td>
        <td><%=result["volume"]%></td>
      </tr>
      <% end %>
    </table>
</div>

<div class="results">
  <h2 style="text-align:center">Historical Information</h2>

  <div class="varianceChart">
    <h4>Last 5 Days Variance</h4>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </div>

  <div class="twitter">
  <a class="twitter-timeline"  href="https://twitter.com/hashtag/<%=  @current_result['results'][0]['symbol']%>" data-widget-id="847880525306089474">#<%= @current_result['results'][0]['symbol'] %> Tweets</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>



  <table class="table table-striped table-hover ">
    <tr class="info">
      <thead>
        <th>Symbol</th>
        <th>Trading Day</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
      </thead>
    </tr>

    <% @historical_result['results'].reverse[0..4].each do |result| %>
      <tr>
        <td class="info"><%= result["symbol"] %></td>
        <td><%= result["tradingDay"] %></td>
        <td class="info"><%= result["open"] %></td>
        <td><%= result["high"] %></td>
        <td class="info"><%= result["low"] %></td>
        <td><%= result["close"] %></td>
        <td class="info"><%= result["volume"] %></td>
      </tr>
    <% end %>
  </table>
</div>

<hr>
<br>
<a href="/logout">Logout</a>
<a href="/account">Account</a>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
        <% @historical_result['results'].reverse[0..4].each do |result| %>
        ['<%= result["tradingDay"] %>', <%= result["low"] %>, <%= result["open"] %> , <%= result["close"] %>, <%= result["high"] %> ],
        <% end %>
      ], true)


      ;
    var options = {
      legend:'none'
    };
    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
    </script>
