<!-- TradingView Widget BEGIN -->
<div id="tv-medium-widget-208a5"></div>


<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.MediumWidget({
  "container_id": "tv-medium-widget-208a5",
  "symbols": [
    [
      "<%= @widget_symbol %>",
      "<%= @widget_symbol %>"

    ]
  ],
  "gridLineColor": "#e9e9ea",
  "fontColor": "#83888D",
  "underLineColor": "#dbeffb",
  "trendLineColor": "rgba(255, 0, 0, 1)",
  "width": "1000px",
  "height": "350px",
  "locale": "en"
});
</script>

<!-- TradingView Widget END -->
<div style="text-align:center" class="">


<iframe frameborder="30" scrolling="no" height="450" width="420" allowtransparency="true" marginwidth="0" marginheight="0" src="https://ssltools.forexprostools.com/profit-calculator/index.php?force_lang=1&acc=12&pair=1"></iframe><br />
</span></span>
</div>



<h1 style="text-align:center" ><%= @current_result['results'][0]['name'] %></h1>

<a href="/transaction/follow/<%= @current_result['results'][0]['symbol'] %>" class="btn btn-default btn-lg btn-block" data-method='POST'>Follow Stock</a>


<div class="results">
<h2 style="text-align:center">Current Information</h2>
  <table class="table table-striped table-hover ">
    <tr class="warning">
      <thead>
        <th>Symbol</th>
        <th>Exchange</th>
        <th>Last Price</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Volume</th>
      </thead>
    </tr>
    <% @current_result['results'].each do |result| %>
    <tr class="active">
      <td><%=result["symbol"]%></td>
      <td><%=result["exchange"]%></td>
      <td><%=result["lastPrice"]%></td>
      <td><%=result["open"]%></td>
      <td><%=result["high"]%></td>
      <td><%=result["low"]%></td>
      <td><%=result["volume"]%></td>
    </tr>
    <% end %>
  </table>
</div>

<hr>


<div class="results">
  <h2 style="text-align:center">Historical Information</h2>
  <table class="table table-striped table-hover ">
    <tr class="info">
      <thead>
        <th>Symbol</th>
        <th>Trading Day</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
      </thead>
    </tr>

    <% @historical_result['results'].each do |result| %>
    <tr>
      <td class="info"><%= result["symbol"] %></td>
      <td><%= result["tradingDay"] %></td>
      <td class="info"><%= result["open"] %></td>
      <td><%= result["high"] %></td>
      <td class="info"><%= result["low"] %></td>
      <td><%= result["close"] %></td>
      <td class="info"><%= result["volume"] %></td>
    </tr>
    <% end %>
  </table>
</div>

<hr>
<br>
<a href="/logout">Logout</a>
<a href="/account">Account</a>
