<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="robots" content="noindex">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/js/ads.js"></script></head><body><div id="adsense" style="visibility: hidden; display: none;">ad</div>
<script type="text/javascript" language="javascript" src="https://i-invdn-com.akamaized.net/jquery.js"></script>
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/js/dlinks.js"></script>
<script type="text/javascript" language="javascript" src="../js/ajax_func.js"></script>
<script type="text/javascript" language="javascript" src="../js/tools_functions.js"></script>
<link href="../style/tools.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://i-invdn-com.akamaized.net/webmaster-tools/buttons-css/nyx_classes_75.css" type="text/css">


  <title>Capital Gains </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


</head>
<body>


<%= yield %>

</body>
</html>
